<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> <!--We are going to link CSS here-->
    {% block head %}{% endblock %} <!--creating a block in a template and this is where we are going to insert our code on other pages-->
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>